

body {
	background-color: #ff8a5b;
}
.jumbotron{
	display: block;
    text-align: center;
}
.forma{
	
}
.margenes{
	margin-left:44%;
}
#margen{
	width:70% !important;
	margin:auto;
	border-radius:5px;
}
.titulo{
	padding auto;
	text-align:center;
}
.noticia{
	padding-left:5%;
	padding-right:5%;
	text-align:justify !important;
	font-weight: bold;
}

ul, ol {
	list-style:none;
}

.header{
	float:top;
}
.nav {
	background-color:#efeded;
}
.nav > li {
	background-color:#gray;
	display: inline-block;
	margin:0;
	width:10%;
}

.nav li a {
	background-color:#gray;
	color:#000;
	padding:10px 12px;
	display:block;
	
	border-left:solid .2px black;
	border-right:solid .2px black;
	border-bottom:solid .2px black;

}

.nav li a:hover {
	background-color:#dbdbdb;
}

.nav li ul {
	display:none;
	position:absolute;
	min-width:200px;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	right:-140px;
	top:0px;
}

.excel{
	
}

.marco-excel{
	background-color:#f9f9f9;
	padding:3%;
	padding-bottom:1%;
	
}

	
	
	
	
	
	
